@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue_Lt.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue_Rg.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue_Md.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue_Bd.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue_Bd.ttf');
    font-weight: 700;
}