@use './styles/_colors.scss';
@use './styles/_fonts.scss';

* {
  font-family: 'Arimo', sans-serif;
  // font-family: 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

button {
  cursor: pointer;
}
